#presentation{
    display: flex;
    padding: 3% 5%;
    color: var(--white);
    background: rgba(0, 0, 0, 0.7);
    background-size:cover;
    background-position: center;
    background-blend-mode: darken;
    img{
        width: 20%;
        object-fit:contain;
        margin-right: 5%;
    }
    #text{
        width: 100%;
        div{
            display: flex;
            #infos{
                margin: 0 0 4% 2%;
                flex-direction: column;
                h2{
                    margin: 0;
                }
                p{
                    margin: 0;
                }
            }   
        }
    }
}

@media screen and (max-width:768px){
    #presentation{
        img{
            width: 25%;
        }
    }
}

@media screen and (max-width:426px){
    #presentation{
        flex-direction: column;
        img{
            margin: 0 auto 5% auto;
            width: 50%;
        }
    }
}