:root{
    scroll-behavior: smooth;
    --white: #ffffff;
    --color: #032541;
    --gray: #e7e7e7;
    font-family: "Roboto";
}

body{
    background-color: var(--white);
    margin: 0;
}

button{
    font-family: "Roboto";
}

header{
    padding: 0 4%;
    background-color: var(--color);
    display: flex;
    justify-content: space-between;
    color: var(--white);
    #title{
        color: var(--white);
        text-decoration: none;
        margin: 0.5% 0;
        font-size: 2em;
        display: flex;
        h1{
            margin: auto;
        }
        img{
            width:3.5em;
            padding-right: 5%;
            filter: invert(1);
        }
    }
    nav{
        font-size: 1.5em;
        margin: auto 0;
        display: flex;
        justify-content: right;
        position: relative;
        a{
            text-decoration: none;
            color: var(--white);
            margin-left:10%;
            font-weight: bolder;
        }
        a:hover{
            text-decoration: underline;
        }
        svg{
            display: none;
            fill: var(--white);
            width: 3em;
        }
        ul{
            display: none;
            background-color: var(--color);
            text-align: center;
            list-style-type: none;
            position: absolute;
            right: 100%;
            top: 10%;
            z-index: 1;
            padding: 5% 10%;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgb(0 0 0 / 0.4);
            margin: 0;
            li{
                margin: 7% 0%;
            }
        }
    }
}

.divNote{
    height: 2.7em;
    width: 2.7em;
    display: flex;
    justify-content: center;
    background-color: var(--color);
    color: var(--white);
    border-radius: 100%;
    border: var(--white) solid 3px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 0.2);
    p{
        margin: auto 0 auto 0;
    }
}

section{
    .titleList{
        display: flex;
        margin-left: 5%;
        padding-top: 2%;
        h2{
            color: var(--color);
            font-size: 2.5em;
            margin: 0;
        }
        button{
            margin: auto 0 auto 2%;
            width: 15%;
            height: 2.5em;
            font-size: 1em;
            background-color: var(--white);
            border: var(--color) solid 3px;
            color: var(--color);
            transition: 0.3s;
        }
        button:hover{
            transform: scale(1.1);
        }
    }
    .list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding:0%;
        article{
            width: 15%;
            margin: 2% 5%;
            a{
                position: relative;
                .poster{
                    width: 100%;
                    transition: 0.3s;
                    box-shadow: 2px 2px 2px rgb(0 0 0 / 0.2);
                }
                .poster:hover{
                    box-shadow: 7px 7px 2px rgb(0 0 0 / 0.4);
                }
                div{
                position: absolute;
                right: -10%;
                bottom: -6%;
            }
            }

            .movieTitle{
                color: var(--color);
                font-weight: bold;
                margin: 2% 0 0 0;
                text-shadow: 2px 2px 2px rgb(0 0 0 / 0.2);
            }
            .movieDate{
                margin: 0;
                text-shadow: 2px 2px 2px rgb(0 0 0 / 0.2);
            }
        }
    }
}

footer{
    background-color: var(--color);
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    img{
        width: 25%;
    }
    p{
        color: var(--white);
    }
}

.zero_resultat{
    margin: 5% auto;
}

@media screen and (max-width:768px){
    header{
        nav{
            a{
                display: none;
            }
            svg{
                display: inline;
            }
            ul>li>a{
                margin: 0;
                display: inline;
            }
        }
        nav:hover ul{
            display: flex;
            flex-direction: column;
        }
    }
    section{
        .titleList{
            justify-content: center;
            button{
                width: 20%;
            }
        }
        .list>article{
            width: 40%;
        }
    }
}

@media screen and (max-width:426px){
    header{
        #title{
            font-size: 1.2em;;
        }
        nav{
            font-size: 1em;
        }
    }
    #search>div>input{
            font-size: 1.2em;
            margin-left: 1.5%;
        }
    section{
        .titleList{
            flex-direction: column;
            margin-left: 0;
            h2{
                text-align: center;
            }
            button{
                margin: 1% auto;
                justify-content: center;
                width: 40%;
            }
        }
        .list>article{
            width: 60%;
            div>div{
                bottom: -4%;
            }
        }
    }
}