:root{
    scroll-behavior: smooth;
    --white: #ffffff;
    --color: #032541;
    --gray: #e7e7e7;
    font-family: "Roboto";
}

body{
    background-color: var(--white);
    margin: 0;
}

button{
    font-family: "Roboto";
}

header{
    padding: 0 4% 0 4%;
    background-color: var(--color);
    display: flex;
    justify-content: space-between;
    color: var(--white);
    #title{
        color: var(--white);
        text-decoration: none;
        margin: 0.5% 0 0.5% 0;
        font-size: 2em;
        display: flex;
        h1{
            margin: auto;
        }
        svg{
            width:3.5em;
            padding-right: 5%;
        }
    }
    nav{
        font-size: 1.5em;
        margin: auto 0 auto 0;
        display: flex;
        justify-content: right;
        position: relative;
        a{
            text-decoration: none;
            color: var(--white);
            margin-left:10%;
            font-weight: bolder;
        }
        a:hover{
            text-decoration: underline;
        }
        svg{
            display: none;
            fill: var(--white);
            width: 3em;
        }
        ul{
            display: none;
            background-color: var(--color);
            text-align: center;
            list-style-type: none;
            position: absolute;
            right: 100%;
            top: 10%;
            z-index: 1;
            padding: 5% 10% 5% 10%;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgb(0 0 0 / 0.4);
            margin: 0;
            li{
                margin: 7% 0% 7% 0%;
            }
        }
    }
}

@media screen and (max-width:768px){
    header{
        nav{
            a{
                display: none;
            }
            svg{
                display: inline;
            }
            ul>li>a{
                margin: 0;
                display: inline;
            }
        }
        nav:hover ul{
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width:426px){
    header{
        #title{
            font-size: 1.2em;;
        }
        nav{
            font-size: 1em;
        }
    }
}